.dogPlayer {
    display: flex;
    flex-direction:column;
    justify-content:center;
    border: 2px solid black;
   
   
}
#navbar {
    margin:10px;
}
.dogPicture {
    justify-content: center;
}
