.dogPlayer {
    display: flex;
    flex-direction:column;
    justify-content:center;
    border: 2px solid black;
    font-size:35px;
    margin:10px;
}
#navbar {
    margin:10px;
}
.dogPicture {
    justify-content: center;
    border-top: 2px solid black;
}
.dogName {
    font-size: large;
}
